.sidebar{
    padding: 10px;
    min-width: 25%;
    min-height: 83vh;
    margin-top: 8px;
    font-size: 1.3em;
    background-color: #212429;
}
.sidebarLink{
    color:black;
    text-decoration: none;
}
.sidebarLink:hover{
    font-size: 1.1em;
}